<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="NoRMaticConnectionString" connectionString="mongodb://localhost/NoRMSample" />
        <add name="NoRMaticConnectionString2" connectionString="mongodb://localhost/NoRMSample2" />
    </connectionStrings>
</configuration>